.container-margin { 
    margin-left: 5%;
}

.about-text { 
    padding-top: 9%;
    font-size: 70px;
}

.subtext { 
    font-size: 30px;
    font-weight: 300;
}

.text-spacer-sm { 
    padding-top: 2vh;
}
.text-spacer { 
    padding-top: 4vh;
}

.text-spacer-lg { 
    padding-top: 6vh;
}

