<div class="container container-margin">
    <div class="row about-text">
        <p>Organize seus trabalhos e </p>
        <p class="text-spacer">provas com apenas um clique.</p>
    </div>

    <div class="row subtext text-spacer-lg">
        <p>
            Através do SEI, você mantém sua agenda atualizada com
        </p>
        <p class="">
            uma interface moderna e de fácil utilização.
        </p>
    </div>

    <div class="row text-spacer-sm">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-link-deco">
            <button color="accent" mat-raised-button>
                Veja mais sobre o SEI.
            </button>
        </a>
    </div>
</div>