.container-margin { 
    margin-left: 5%;
}

.about-text { 
    padding-top: 9%;
    font-size: 70px;
}

.subtext { 
    font-size: 30px;
    font-weight: 300;
}

.text-spacer-sm { 
    padding-top: 2vh;
}
.text-spacer { 
    padding-top: 4vh;
}

.text-spacer-lg { 
    padding-top: 6vh;
}

.video { 
    width: 90vw;
    justify-content: end;
}

@media only screen 
and (max-width: 1024px)
and (max-height: 768px)
{
    .about-text { 
        padding-top: 9%;
        font-size: 50px;
    }

    .subtext { 
        font-size: 25px;
        font-weight: 300;
    }
}


@media only screen 
and (max-width: 800px)
and (max-height: 600px)
{
    .about-text { 
        padding-top: 9%;
        font-size: 35px;
    }

    .subtext { 
        font-size: 20px;
        font-weight: 300;
    }
}