.login-card {
    justify-content: center;
    text-align: center;
    margin-top: 20vh;
    margin-left: 40vh;
    margin-right: 40vh;
}

.login-field {
    width: 60%;
}

.invalid-login { 
    padding-top: 10px;
    color: #f44336;
    font-weight: 500;
}