<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
        <mat-card class="login-card">
            <mat-card-title style="margin-bottom: 16px">Acesso ao Sistema</mat-card-title>
            <mat-card-subtitle>AVISO: Sistema de Login ainda não implementado completamente!</mat-card-subtitle>
            <mat-card-content>
                    <mat-form-field color="accent" appearance="standard" class="login-field">
                        <mat-label>Usuário</mat-label>
                        <input autocomplete="off" matInput placeholder="PinkBear0520" formControlName="username">
                        <mat-error *ngIf="loginForm.get('username')?.invalid">{{getUsernameErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="standard" class="login-field">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.get('password')?.invalid">{{getPasswordErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <p *ngIf="invalidLogin" class="invalid-login">Login Inválido!</p>
            </mat-card-content>
            <mat-card-actions>
                    <button type="submit" [disabled]="!loginForm.valid" mat-button color="accent">Entrar</button>
                    <button (click)="redefinirSenha()" type="button" mat-button color="accent">Redefinir senha</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
