<div class="container">
    <div class="row agenda-row">
        <h1 class="agenda-header">Minha Agenda</h1>
    </div>
</div>
<div class="container">
    <mat-divider></mat-divider>

</div>

<div class="container" style="width: 100%;">
    <table style="width: 100%;">
        <tr>
            <th style="width: 27%;padding-left: 3%;">Matéria</th>
            <th style="width: 26%;">Limite</th>
            <th style="width: 24%;">Status</th>
            <th>Nota</th>
        </tr>
    </table>
    <!-- <mat-table [dataSource]="materias" style="width: 100%;">
        <ng-container matColumnDef="Matéria">
            <th mat-header-cell *matHeaderCellDef>
                Matéria
            </th>
        </ng-container>
        <ng-container matColumnDef="Limite">
            <th mat-header-cell *matHeaderCellDef>
                Limite
            </th>
        </ng-container>
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>
                Status
            </th>
        </ng-container>
        <ng-container matColumnDef="Nota">
            <th mat-header-cell *matHeaderCellDef>
                Nota
            </th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tabelaAgendaColuna"></tr>
    </mat-table> -->
</div>
<div class="container"> <div style="padding-top: 5px;"> </div> </div>
