<div class="container">
    <div class="row agenda-row">
        <h1 class="agenda-header">Minha Agenda</h1>
    </div>
</div>
<div class="container">
    <mat-divider></mat-divider>

</div>

<div *ngIf="!noContent;else noContentToDisplay">    
    <div class="container" *ngFor="let subject of materias">
        <div style="padding-top: 5px;"> <app-materia [exams]="exams" [subject]="subject" ></app-materia> </div>     
    </div>
</div>

<ng-template #noContentToDisplay> <p style="font-style: italic;text-align: center;font-weight: 500;">Sem conteúdo para visualizar.</p> </ng-template>
