<server description="SEI Back-end">
  <featureManager>
    <feature>jaxrs-2.1</feature>
  </featureManager>

<cors domain="/"
      allowedOrigins="localhost:4200/*"
      allowedMethods="GET, DELETE, POST, PUT"
      allowedHeaders="origin, content-type, accept, authorization, cache-control"
      maxAge= "3600" />
<httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
              id="defaultHttpEndpoint" host="localhost" />

<httpSession idLength="28" />
<httpEncoding encoding.en="UTF-8" encoding.pt="UTF-8"/>

<webApplication location="sei-back.war" contextRoot="${app.context.root}" 
                name="sei-back" id="sei-back" />
				  
</server>